<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-4">
          <div class="level">
            <div class="level-item">
              <a class="simple" href="https://github.com/barraco">Github</a>
            </div>
            <div class="level-item">
              <a class="simple" href="https://medium.com/barra-co">Medium</a>
            </div>
            <div class="level-item">
              <a class="simple" href="https://t.me/barra_co">Telegram</a>
            </div>
          </div>
        </div>
        <div class="column is-4"></div>
      </div>
    </p>
    <p>© {{ site.copyrightYear }} <strong>Barraco</strong></p>
  </div>
</footer>