html {
  height: 100%;
}

#particle-canvas {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  z-index: 1;
}

main figure.logo {
  margin-left: 45px;
}

main p.description a:hover {
  color: white;
  text-decoration: underline;
}

footer {
  background: none !important;
  padding: 0 0 1rem !important;
  z-index: 1;
  color: white;
}

footer p>strong {
  color: white;
}

a.simple {
  color: white;
  text-decoration: underline;
}

a.simple:hover {
  text-decoration: none;
}